.nav-pills a:hover{
    background-color: blue;
}

.nav-pills button:hover{
    background-color: blue;
}

.container-fluid {
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
}

ul {
    list-style-type: none;
  }  

.navbar {
    padding-left: 1rem;
}



.form {
    display: none;
}

.s1 {
    display: none;
    visibility: hidden;
}

.summary {
    background-color: #4682B4;
}

.modal-header {
    background-color: #4682B4;
}

.index1 {
    background-color: #4682B4;
}
