.nav-pills a:hover{
    background-color: blue;
}

.nav-pills button:hover{
    background-color: blue;
}

.container-fluid {
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
}

ul {
    list-style-type: none;
  }  

.navbar {
    padding-left: 1rem;
}



.form {
    display: none;
}

.s1 {
    display: none;
    visibility: hidden;
}

.summary {
    background-color: black;
    border: 3px;
    

}

#moreInfo {  
    border: 3px;
    outline-width: thin;
    outline-style: solid;
    outline-color: #ff8080;
}

.modal-header {
    background-color: #4682B4;
}

.index1 {
    border: 3px;
    outline-width: thin;
    outline-style: solid;
    outline-color: #ff8080;
    background-color: #f8f9fa;
}

.regButton {
    border: 3px;
    outline-width: medium;
    outline-style: solid;
    outline-color: #ff8080;
    background-color: black;
}

.clientPres {
    color: #ff8080;
}

.icon {
    color: #ff8080;
}


