
    <% layout('layout/boilerplate') %>
    <h1>all TCAs</h1>
    <div><a href="/tcas/new">New TCA</a></div>


    <table>
        <thead>
            <tr>
                <th >First Name</th>
                <th >Last Name</th>
                <th >Property Address</th>
                <th >View</th>
                <th >Update</th>
            </tr>
        </thead>
        <% for (let tca of tcas) {%>
            <tr>
                <td> Name </td>
                <td> name2 </td>
                <td> <%= tca.name %> </td>
                <td><a href="/tcas/<%= tca._id %>">View</a></td>
                <td><a href="/tcas/<%=tca._id%>/edit">Update</a></td>
            </tr>
        <%}%>
    </table>
